@import './utils/variables';
@import './base/normalize';
@import './utils/zeroing-styles';
@import './utils/transition';
@import './components/general';
@import './components/page-header';
@import './components/logo';
@import './components/navigation';
@import './components/header-contacts';
@import './components/hero';
@import './components/modal';
@import './components/hero-form';
@import './components/advantages';
@import './components/work';
@import './components/team';
@import './components/social-list';
@import './components/clients';
@import './components/footer';
@import './components/footer-form';
@import './components/portfolio-filter';
@import './components/portfolio-cards';
