@import './logo';

.footer {
  background-color: $footer-bg-color;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }

    justify-content: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__contacts {
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      text-align: left;
    }
  }

  &__address {
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-adress-color;
  }

  &__item {
    text-align: center;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item:first-child {
    margin-top: 9px;
    margin-bottom: 6px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-contacts-color;

    transition: color getTransition('time-transit') getTransition('distribution-function');
  }

  &__link:hover,
  &__link:focus {
    color: $color-accent;
  }

  &__title {
    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }

    margin-bottom: 20px;

    @media screen and (max-width: 1190px) {
      text-align: center;
    }

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $first-title-color;
  }
}
