.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0;
  width: 100%;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    max-width: 1600px;
  }

  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
    url(../images/hero/hero-bg-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../images/hero/hero-bg-480-x2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../images/hero/hero-bg-768.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
        url(../images/hero/hero-bg-768-x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../images/hero/hero-bg.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
        url(../images/hero/hero-bg-x2.jpg);
    }
  }

  &__title {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $first-title-color;

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__btn {
    padding: 10px 32px;
    margin: 0 auto;
  }
}
