.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $page-header-border;

  &__list {
    display: flex;
    align-items: center;
  }

  &__navigatin {
    display: flex;
    align-items: center;
  }
}
